<!DOCTYPE html>
<html>
  <head>
    <title>Fashion Forecast-My Wardrobe</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar">
        <img src="img/FF.jpg" alt="FF Logo" class="mini-img"/>
        <div class="nav-links">
          <a href="/profile" class="nav-links">Home</a>
          <a href="/outfit" class="nav-links">OOTD</a>
          <a href="/fave" class="nav-links">Fave's</a> 
        </div>
    </nav>
    <div class="profile-container">
      <h3>Virtual Closet</h3>
      <p>
        Number of items:<strong> <%= clothes ? clothes.length : 0 %></strong>
      </p>
    </div>
    <form
      action="/wardrobe/add"
      method="POST"
      enctype="multipart/form-data"
      class="message-form"
    >
      <div class="form-group">
        <label for="image">Add a new Item</label>
        <input
          type="file"
          class="form-control-file"
          name="image"
          accept="image/*"
          capture="environment"
          required
        />
        <div class="form-group">
          <label for="category">Category</label>
          <select name="category" class="form-control" required>
            <option value="">Select a category</option>
            <option value="Short Sleeve Top">Short Sleeve Top</option>
            <option value="Long Sleeve Top">Long Sleeve Top</option>
            <option value="Long Bottom">Long Bottom</option>
            <option value="Short Bottom">Short Bottom</option>
            <option value="Onepiece">Dress/Jumpsuit/Romper</option>
            <option value="Set">Set</option>
            <option value="Outerwear">Outerwear</option>
            <option value="Shoe">Shoe</option>
            <option value="Headpiece">Headpiece</option>
            <option value="Accessory">Accessory</option>
          </select>
        </div>

        <div class="form-group">
          <label for="season">Season</label>
          <div>
            <label>
              <input type="checkbox" name="season" value="Spring" />
              Spring
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="season" value="Summer" />
              Summer
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="season" value="Fall" />
              Fall
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="season" value="Winter" />
              Winter
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Add Item</button>
      </div>
    </form>

    <div class="wardrobe-gallery">
      <% if (clothes && clothes.length > 0) { %> <% // Group clothes by category
      var groupedClothes = clothes.reduce(function(acc, item) {
      acc[item.category] = acc[item.category] || [];
      acc[item.category].push(item); return acc; }, {}); %> <% for (var category
      in groupedClothes) { %>
      <section class="category-section">
        <h4 class="category-header"><%= category %></h4>
        <div class="category-items">
          <% groupedClothes[category].forEach(function(item) { %>
          <div class="clothing-item">
            <img src="<%= item.image %>" alt="<%= item.category %>" />
            <div class="item-details">
              <p>Season: <%= item.season.join(', ') %></p>
              <button
                class="btn btn-danger delete-item"
                data-id="<%= item._id %>"
              >
                Delete
              </button>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
      <% } %> <% } else { %>
      <p class="no-items">
        There are no clothing items in your virtual closet. Start adding to your
        wardrobe!
      </p>
      <% } %>
    </div>

    <div class="page-footer text-center">
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <script src="/js/wardrobe.js"></script>
  </body>
</html>
